
{% extends "blog/base.html" %}
{% block content %}

<h1 class="text-center">ABOUT PAGE!!!</h1>

<p>
    
<header>
            
            <p>Discover our story and meet the team.</p>
        </header>
    
        <section>
            <h2>ABOUT BLOG APPLICATION</h2>
            <p>
                A blog application in the context of web development typically refers to a software application or
                 module designed to facilitate the creation, management, and publication of blog posts on a website. 
                 A blog is a website or a section of a website where regularly updated posts, articles, or entries are
                  displayed in reverse chronological order, with 
                the most recent posts appearing first.
            </p>
        </section>
    
        <section>
            <h2>Our Team</h2>
            <p>
                Meet the passionate individuals who make up our team.
            </p>
            <ol>
                <div><li><strong>Shumutey Aregay</strong> - Project-Manager</li></div>
                <div><li><strong>Tesfa Gebretsadkan</strong> - software Engineer</li></div>
                <li><strong>Tesfalem Girmay</strong> - Developer & Marketing Manager</li>
            </ol>
        </section>
    
        <section>
            <h2>Contact Us</h2>
            <p>
                Have questions or want to get in touch? Feel free to contact us at
                <br>
                <a href="tesfalembrushtesfa@gmail.com">info@example.com</a>.
                <br>
                <a href="https://facebook.com/tesfalemGi">FACEBOOK</a>.
                <br>
                
                <a href="@LOADINGzend">TELEGRAM</a>.
            </p>
        </section>
</p>



{% endblock content %}


