
{% extends "blog/base.html" %}
{% block content %}

<div class="content-section">
    <form method="POST">
{% csrf_token %}
<fieldset class="form-group">
    <legend class="border-bottom mb-4">DELETE POST</legend>
             <h1>Are You Sure to Delete "{{object.id}}"</h1>
</fieldset>
<div class="form-group">
    <button class="btn btn-outline-danger" type="submit">yes,delete</button>
    <a class="btn btn-outline-secondery" href="{% url 'post-detail' object.id %}">cencel</a>
        </div>
    </form>
</div>


{% endblock content %}


